<!DOCTYPE HTML>
<html>
<head>
    <title>GangTok</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <li>회원 목록</li>
    <li>채팅 리스트</li>
    <li>내정보</li>
    <li>설정</li>

</head>
<body>