.login{
    width: 410px;
    position:  absolute;
    left: 50%;
    top: 50%;
    border: solid;
    transform: translate(-50%, -50%);
}
.login h2{
    width: 410px;
    font-size: 32px;
    color: #111;
    border-bottom: 2px;
    solid-color: #000000;
}