{{>layout/header}}
 <div id="wrap">
        <div id="header">

        </div>
        <div id="main">
            <div id="left_main">

            </div>
            <div id="right_main">

            </div>
        </div>
        <div id="footer">

        </div>
 </div>
{{>layout/footer}}